@using EPiServer.Core
@using EPiServer.Web
@model IPageViewModel<SitePageData>
@helper ItemTemplate(HtmlHelpers.MenuItem breadCrumbItem)
{
    if (breadCrumbItem.Selected)
    {
        if (breadCrumbItem.Page.HasTemplate() && !breadCrumbItem.Page.ContentLink.CompareToIgnoreWorkID(Model.CurrentPage.ContentLink))
        {
            @Html.PageLink(breadCrumbItem.Page)
        }
        else
        {
            @breadCrumbItem.Page.PageName
        }
        if (!breadCrumbItem.Page.ContentLink.CompareToIgnoreWorkID(Model.CurrentPage.ContentLink))
        {
            <span class="divider">/</span>
            @Html.MenuList(breadCrumbItem.Page.ContentLink, ItemTemplate)
        }
    }
}
<div class="row">
    <div class="span12 footer">
        <hr />
        <div class="row">
            <div class="span3">
                <h3>@Html.Translate("/footer/products")</h3>
                @Html.PropertyFor(x => x.Layout.ProductPages)
            </div>
            <div class="span3">
                <h3>@Html.Translate("/footer/company")</h3>
                @Html.PropertyFor(x => x.Layout.CompanyInformationPages)
            </div>
            <div class="span3">
                <h3>@Html.Translate("/footer/news")</h3>
                @Html.PropertyFor(x => x.Layout.NewsPages)
            </div>
            <div class="span3">
                <h3>@Html.Translate("/footer/customerzone")</h3>
                @Html.PropertyFor(x => x.Layout.CustomerZonePages)
                <ul>
                    <li>
                        @if (Model.Layout.LoggedIn)
                        {
                            @Html.ActionLink(Html.Translate("/footer/logout"), "Logout", new { language = @Model.CurrentPage.Language.Name })
                        }
                        else
                        {
                            if (!Model.Layout.IsInReadonlyMode)
                            {
                                <a href="@Model.Layout.LoginUrl" title="@Html.Translate("/footer/login")">@Html.Translate("/footer/login")</a>
                            }
                        }
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<!--Implement Breadcrumbs-->
<div class="row hideMyTracks">
    <div class="span12">
        <ul class="alloyBreadcrumb">
            @Html.ContentLink(SiteDefinition.Current.StartPage)
            <span class="divider">/</span>
            @Html.MenuList(SiteDefinition.Current.StartPage, ItemTemplate, requireVisibleInMenu: false, requirePageTemplate: false)
        </ul>
    </div>
</div>
